/* src/app/globals.css */

/* 1. Reset e Variáveis de Cor */
:root {
  --primary-green: #32A852;
  --tech-blue: #1E90FF;
  --dark-gray: #1a1a1a; /* Um pouco mais escuro para maior contraste */
  --medium-gray: #333333;
  --light-gray: #f0f0f0;
  --white: #FFFFFF;

  --font-title: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-family: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
}

/* 2. Estilos de Tipografia Base */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: 700;
  color: var(--white);
}

p {
  line-height: 1.6;
}

/* 3. Classe Utilitária para Glow (usaremos bastante) */
.glow-effect-blue {
  box-shadow: 0 0 5px var(--tech-blue), 0 0 15px var(--tech-blue), 0 0 25px var(--tech-blue);
}

.glow-effect-green {
  box-shadow: 0 0 5px var(--primary-green), 0 0 15px var(--primary-green), 0 0 25px var(--primary-green);
}